
/*Global css*/

html {
    box-sizing: border-box;
}

*::after, *::before {
    box-sizing: inherit;
}


a {
    text-decoration: none;
}

.clearfix {
    overflow: auto;
}

.container {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
    
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #EEEEF5;
}

/** HEADER **/

header.header {
    background-color: #0455BF;
}

div.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
}

div.logo a i {
    color: #fff;
    font-size: 35px;
}

div.avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    
}

nav.main-menu ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
}

nav.main-menu ul li {
    margin-right: 30px;
}

nav.main-menu ul li:last-child {
    margin: 0;
}

nav.main-menu ul li a {
    color: #fff;
    font-size: 18px;
}


form.search-form  {
    position: relative;
}
form.search-form input {
    width: 400px;
    padding: 10px;
    border: none;
    border-radius: 25px;
    
}

form.search-form button {
    border: none;
    background-color: transparent;
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px 10px;
    color: gray;
}


div.right-menu ul {
    list-style: none;
    display: flex;
}

div.right-menu ul li {
    margin-right: 20px;
}

div.right-menu ul li:last-child {
    margin: 0;
}

div.right-menu ul li a {
    color: #031740;
    font-size: 20px;
}


/*Main Container */
div.main-container {
    display: flex;
    margin-top: 40px;
    flex-direction: row;
    
}

div.left-col {
    height: 100vh;
    flex-grow:1;
    flex-basis: 10%;
}

main.main-content {
    flex-grow: 2;
    flex-basis: 30%;
    margin: 0 25px;
}

div.right-col  {
    height: 100vh;
    flex-grow:1;
    background-color: rebeccapurple;
}


/******** Left Column **********/

div.profile {
    background-color: #0455BF;
    padding: 10px 25px 35px 25px;
    border-radius: 3px;
}

a.dots {
    float: right;
    color: gray;
    font-size: 14px;

}
div.profile-info {
    margin-top: 30px;
}

div.profile-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
}

div.profile-context small {
    margin-left: 20px;
    font-size: 18px;
    color: #fff;
}

div.posts-friends {
    border-bottom: 0.8px solid #F2F2F2;
    border-top: 0.8px solid #F2F2F2;
    margin: 20px 0;
    padding: 10px;
    text-align: center;
}

div.posts-friends p {
    display: inline;
    color: #fff;
    margin-right: 10px;
    
    
}

div.posts-friends p:last-child {
    margin: 0;
}

.menu-profile h2 {
    text-align: center;
    color: #031740;
    text-transform: uppercase;

}

.menu-profile ul {
    list-style: none;
   padding-left: 0;
   
}

.menu-profile ul li {
    padding-bottom: 20px;
}

.menu-profile ul li a {
    color: white;
    font-size: 18px;
    
}

.menu-profile ul li a i {
    margin-right: 25px;
   
    
    
}


div.news-alarm {
    background-color: #fff;
    margin: 30px 0;
    border-radius: 3px;
}

div.header-left-context {
    margin: 30px 25px 0 25px;
}

div.header-left-context h2 {
    color: #031740;
    padding-top: 20px;
    font-size: 20px;
}

div.container-news-alarm{
    border-top: 1px solid #ADC0D9;
    padding: 20px 25px;
}
div.news-alarm-context i {
    float: left;
    color: #ADC0D9;
    
}

div.news-alarm-context p {
    margin-left: 30px;
    font-size: 12px;
    color: rgb(176, 184, 192);
}

div.gallery {
    background-color: #fff;
    
} 

div.gallery h2 span {
    margin-left: 20px;
    font-size: 14px;
    font-weight: 700;
    color: #ADC0D9;
}

div.gallery-imgs {
    text-align: center;
}
div.gallery-imgs img {
    width: 90px;
    
}

 
/*********MAIN CONTEXT************/
.container-main {
    overflow: hidden;
    background-color: #fff;
    border-radius: 3px;

    -webkit-box-shadow: 0px 45px 50px 3px rgba(227,227,239,1);
-moz-box-shadow: 0px 45px 50px 3px rgba(227,227,239,1);
box-shadow: 0px 45px 50px 3px rgba(227,227,239,1);
}
.main-img img {
    width: 100%;
    max-width: 695px;
}

div.main-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #D9D9D9;

}

div.main-title h2 {
    font-size: 16px;
    margin-left: 20px;
    color: #4A5076;
}

.right-info   {
    margin-right: 20px;
}
.right-info span {
    font-size: 12px;
    margin-right: 20px;
}

.right-info span:last-child {
    margin: 0;
    font-weight: bold;
}

.post-info {
    padding: 25px 20px;
}

.user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

div.user {
    display: flex;
    align-items: center;
}

.post-info-container {
    display: flex;
    justify-content: space-between;
}

.user-info span {
    display: block;
    margin-left: 10px;
}

.user-info .name-user {
    font-weight: bold;
}

.user-info .city-name {
    color: #0455BF;
    font-size: 12px;
}

.left-post-info ul {
    list-style: none;
}

.left-post-info ul li {
    display: inline;
    margin-right: 20px;
    font-size: 14px;
    color: #9D9FAF;
}

.left-post-info ul li:last-child {
    margin: 0;
}

.post-text p {
    font-size: 12px;
    line-height: 1.8;
    color: #9D9FAF;
}


/******* Comments *******/
div.bottom-comments-section {
    display: flex;
    margin: 20px 0;
}

.left-comments-container,
.right-comments-container {
    background-color: #fff;
    height: 300px;
}

.left-comments-container {
    flex-basis: 70%;
    margin-right: 20px;
}

.right-comments-container {
    flex-basis: 30%;
}

